.footer__section {
    background-color: #fff;
    padding: 8rem 1rem;
}

.footer__container {
    margin: auto;
    max-width: 900px;
}

.footer__column {
    li {
        cursor: pointer;
        display: flex;
        font-size: 0.8rem;
        font-weight: 500;
        gap: 20px;
        list-style: none;
        margin-bottom: 0.5rem;

        transition: 200 ms opacity;

        &:hover {
            opacity: 0.8;
        }

        span {
            color: $dark-grey;
        }
        
        p {
            margin-bottom: 0.2rem;
        }
    }

    h3 {
        font-size: 1rem;
        font-weight: 700;
        margin-bottom: 1.5rem;
    }
}

.footer__column-1 {
    padding-right: 5rem;
    width: 100%;

    p {
        font-size: 0.8rem;
        font-weight: 500;
        margin: 1.5rem 0 1rem;
    }

    form {
        position: relative;

        span {
            color: $light-grey;
            position: absolute;
            right: 20px;
            top: 18px;
        }
    }

    input {
        background-color: $lightest-grey;
        border: none;
        font-size: 0.9rem;
        padding: 1rem;

    }
}

.footer__column-4 {

    li {
        cursor: text;
        &:hover {
            opacity: 1;
        }
    }
}

.footer__logo {
    width: 170px;
}

.footer__social-container {
    align-items: center;
    display: flex;
    margin-top: 9rem;
    text-align: center;

    p {
        font-size: 0.8rem;
        font-weight: 700;
        margin: 0;
        margin-right: 40px;
    }

    li {
        list-style: none;
    }

    span {
        font-size: 0.9rem;
    }
}

.footer__social-icon {
    cursor: pointer;
    font-size: 1.1rem;
    margin-right: 15px;

    transition: 200ms ease opacity;

    &:hover {
        opacity: 0.8;
    }
}

.footer__instagram {
    color: $instagram;
}

.footer__facebook {
    color: $facebook;
}

.footer__twitter {
    color: $twitter;
}

.footer__youtube {
    color: $youtube;
}

@media (max-width: 767px) {
    .footer__section {
        text-align: center;
    }
    
    .footer__column {
        margin-bottom: 2rem;

        li {
            display: block;
            text-align: center;
        }
    }

    .footer__column-1 {
        padding-right: 0;
    }

    .footer__social-container {
        align-items: center;
        display: flex;
        justify-content: center;
        margin-top: 2rem;
        text-align: center;
    }
}