
// Colors
$primary-dark: #7d5488;
$primary: #c04ae2;
$dark-grey: rgb(112, 112, 112);
$light-grey: rgb(175, 175, 175);
$lightest-grey: rgb(246, 245, 251);
$secondary-1: #fe6686;
$secondary-1-op: #fcd7df;
$secondary-2: #54d6a1;
$secondary-2-op: #c9f3e2;
$secondary-3: #fe9a3f;
$secondary-3-op: #f2d5ba;

// social colors

$twitter: #00acee;
$facebook: #3b5998;
$youtube: #ff1e00;
$instagram: #C13584;


